<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <meta content="" name="description">

    <link rel="shortcut icon" th:href="@{favicon.ico}" type="image/png"/>

    <title th:text="${title}"></title>

    <link media="screen" rel="stylesheet" th:href="@{/css/layout.css}"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
</head>

</html>