VBox {
    -fx-border-color: k-button;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

ListView {
    -fx-padding: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

TextField {
    -fx-min-width: 0;
    -fx-pref-width: 100;
}
