.list-view {
    -fx-padding: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.list-view .scroll-bar:vertical {
    -fx-background-color: k-background;
}

.list-view .increment-button, .list-view .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: k-textfield-background;
    -fx-background-insets: 5, 5, 5;
    -fx-background-radius: 5;
}

.list-view .scroll-bar:horizontal,
.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button,
.virtual-flow .corner {
    -fx-padding: 0;
    -fx-scale-x: 0;
    -fx-scale-y: 0;
    -fx-background-color: k-background;
}

TextField {
    -fx-pref-width: 100;
}

Button {
    -fx-content-display: graphic-only;
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
}

Button {
    -fx-content-display: graphic-only;
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
}

.send-button {
    -fx-background-color: white;
    -size: 15;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M0,0 L0,2 L1,1 z";
}
