ListView {
    -fx-padding: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

TextField {
    -fx-min-width: 0;
    -fx-pref-width: 100;
}

Button {
    -fx-content-display: graphic-only;
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
}

Button SVGPath {
    -fx-fill: white;
}
