GridPane {
    -fx-pref-width: 500px;
    -fx-pref-height: 250px;
    -fx-alignment: center;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-padding: 20px;
}

Button {
    -fx-max-width: 99999px; /* Full width */
}
