* {
    -fx-text-fill: seaShell;

    k-background: #343434;
    k-button: #4CAF50;
    k-button-hover: #3e9343;
    k-textfield-background: #404040;
    k-textfield-focused: #505050;
}

.root {
    -fx-background-color: k-background;
}

Button {
    -fx-background-color: k-button; /* Green background */
    -fx-border: none; /* No border */
    -fx-color: white; /* White text */
    -fx-text-fill: white; /* White text */
    -fx-font-size: 16px; /* Text size */
    -fx-padding: 10px 24px; /* Some padding */
    -fx-text-align: center; /* Centered text */
    -fx-text-decoration: none; /* No underline */
    -fx-cursor: hand; /* Mouse pointer on hover */
    -fx-border-radius: 0px; /* Rounded corners */
}

Button:hover {
    -fx-background-color: k-button-hover; /* Green background on hover */
}

TextField, PasswordField {;
    -fx-background-color: k-textfield-background;
    -fx-padding: 10px;
    -fx-pref-width: 300px;
    -fx-text-box-border: transparent;

    -fx-background-insets: 0, 2;
    -fx-background-radius: 0, 0;
}

TextField:focused, PasswordField:focused {
    -fx-background-color: k-textfield-focused;
}

.list-view, .list-cell {
    -fx-background-color: k-background;
}

