* {
    k-text-color: seaShell;
    k-background: #343434;
    k-button: #4CAF50;
    k-button-hover: #3e9343;
    k-textfield-background: #404040;
    k-textfield-focused: #505050;
    k-error: #d60000;
    k-warning: #da8e00;
    k-success: #3e9343;
}

.root {
    -fx-background-color: k-background;
    -fx-font-size: 16px;
}

/*
 General CSS for all views
 */

/*
 Button
 */

Button {
    -fx-background-color: k-button;
    -fx-text-align: center;
    -fx-cursor: hand; /* Mouse pointer on hover */
    -fx-background-radius: 5px;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-text-fill: k-text-color;
}

Button:hover {
    -fx-background-color: k-button-hover; /* Green background on hover */
}

.secondary_button {
    -fx-background-color: k-textfield-focused;
}

/*
 TextField
 */

TextField, PasswordField {;
    -fx-background-color: k-textfield-background;
    -fx-padding: 10px;
    -fx-pref-width: 300px;
    -fx-text-box-border: transparent;
    -fx-min-height: 40px;
    -fx-pref-height: 40px;
    -fx-background-radius: 5px;
    -fx-text-fill: k-text-color;
}

TextField:focused, PasswordField:focused {
    -fx-background-color: k-textfield-focused;
}

/*
 ListView
 */

.list-view {
    -fx-border-color: k-textfield-background;
    -fx-border-insets: 0;
    -fx-padding: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.list-view, .list-cell {
    -fx-background-color: k-background;
    -fx-text-fill: k-text-color;
}

.list-cell:selected {
    -fx-background-color: k-textfield-focused;
}

.list-view .scroll-bar:vertical {
    -fx-background-color: k-background;
}

.list-view .increment-button, .list-view .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: k-textfield-background;
    -fx-background-insets: 5, 5, 5;
    -fx-background-radius: 5;
}

.list-view .scroll-bar:horizontal,
.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button,
.virtual-flow .corner {
    -fx-padding: 0;
    -fx-scale-x: 0;
    -fx-scale-y: 0;
    -fx-background-color: k-background;
}

/*
 Label
 */

.label {
    -fx-text-fill: k-text-color;
}
