<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin - Usermanagement</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8">
    <script>

        /*
         * oy, what a disgusting way of getting the user ID. There must be a way to inject the ID via thymeleaf. Let's
         * mark this as a TODO
         */
        function getUserIdForRow(button) {
            // Find the row containing the button
            const row = button.closest('tr');
            // Find the cell containing the user ID
            const idCell = row.querySelector('td:nth-child(2)');
            // Get the text content of the ID cell
             return idCell.textContent;
          }

        function deleteUser(userId) {
            const url = `/api/rest/admin/v1/usermanagement/delete/${encodeURIComponent(userId)}`;

            fetch(url)
                    .then(response => {
                        if (response.ok) {
                            document.getElementById('response').innerText = 'User with ID ' + userId + ' has been deleted!';
                        }
                    })
                    .catch(error => {
                        document.getElementById('response').innerText = 'Error: ' + error;
                    });

            return false; // Prevent form submission
        }
    </script>
</head>

<body>
<h1>Usermanagement</h1>
<p>You may perform usermanagement here.</p>

<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>ID</th>
        <th>action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.id}"></td>
        <td>
            <button type="button" onclick="const id = getUserIdForRow(this); return deleteUser(id)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
<pre id="response"></pre>

</body>


</html>