<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <!--@formatter:off-->
        <Property name="appenderPatternLayout">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}(%F:%L): %msg%n</Property>
        <Property name="coloredPatternLayout">%d{HH:mm:ss.SSS} [%t] %highlight{%-5level} %style{%pid}{magenta} %style{%c{1.}}{cyan}(%F:%L): %msg%n</Property>
        <!--@formatter:on-->
    </Properties>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="${coloredPatternLayout}"/>
        </Console>
        <File name="LogToFile" fileName="logs/client.log" immediateFlush="false" append="false">
            <PatternLayout pattern="${appenderPatternLayout}"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="org.schlunzis.kurtama" level="${sys:logging.level:-info}">
            <AppenderRef ref="LogToFile"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>