[Desktop Entry]
Name=Kurtama
Comment=Kurtama
Exec=/opt/kurtama-client/bin/Kurtama
Icon=/opt/kurtama-client/lib/Kurtama.png
Terminal=false
Type=Application
Categories=Game
StartupWMClass=org.schlunzis.kurtama.client.fx.ClientApp
