.status-view {
    -fx-alignment: center;
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
    -fx-spacing: 10px;
}

.status-icon {
    -size: 30;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
}

.status-view .info {
    -fx-background-color: lightblue;
}

.status-view .progress {
    -fx-background-color: lightblue;
}

.status-view .warning {
    -fx-background-color: k-warning;
}

.status-view .error {
    -fx-fill: k-error;
}

.status-view .success {
    -fx-background-color: k-button;
}
